In [1]:
import pandas as pd
import numpy as np

In [2]:
def categorize_dti_cat(row):
    dti = row['debt_to_income_ratio']
    healthy = ['<20%', '20%-<30%', '30%-<36%' ]
    manageable = ['36', '37', '38', '39', '40', '41', '42']
    unmanageable = ['43', '44', '45', '46', '47', '48', '49']
    struggling = ['50%-60%', '>60%']
    if dti in healthy:
        return '1'
    elif dti in manageable:
        return '2'
    elif dti in unmanageable:
        return '3'
    elif dti in struggling:
        return '4'     
    elif dti == 'Exempt':
        return '5'
    elif dti == 'null':
        return '6'    
        
def categorize_cltv(row):
    cltv = row['cltv_ratio']
    if cltv <= 80:
        return '1'
    elif cltv > 80:
        return '2'       
    else:
        return '3'

def categorize_age(row):
    age = row['applicant_age']
    if age == '<25':
        return '1'
    elif age == '25-34':
        return '2'
    elif age == '35-44':
        return '3'
    elif age == '45-54':
        return '4'
    elif age == '55-64':
        return '5'
    elif age == '65-74':
        return '6'
    elif age == '>74':
        return '7'
    elif age == '8888' or age == '9999':
        return '8'
    
def categorize_sex(row):
    sex = row['applicant_sex']
    if sex == '1':
        return '1'
    elif sex == '2':
        return '2'
    elif sex == '3' or sex == '4':
        return '3'
    elif sex == '6':
        return '4'
        
        
def categorize_aus(row):
    aus_cat = row['aus_1']
    if aus_cat == '1':
        return '1'
    elif aus_cat  == '2':
        return '2'
    elif aus_cat == '3':
        return '3'
    elif aus_cat  == '4':
        return '4'
    elif aus_cat  == '5':
        return '5'
    elif aus_cat == '6' or '1111':
        return '6'
    
def categorize_loan_term(row):
    loan_term = row['em_loan_term']
    if loan_term == 360:
        return '1'
    elif loan_term < 360:
        return '2'
    elif loan_term > 360:
        return '3'
    else:
        return '4'
        
        
def categorize_lmi(row):
    tract_msa_ratio = row['tract_msa_ratio']
    if tract_msa_ratio > 0 and tract_msa_ratio < 50:
        return '1'
    elif tract_msa_ratio >= 50 and tract_msa_ratio < 80:
        return '2'
    elif tract_msa_ratio >= 80 and tract_msa_ratio < 120:
        return '3'
    elif tract_msa_ratio >= 120:
        return '4'
    elif tract_msa_ratio == 0:
        return '5'

def categorize_race(row):
    race = row['applicant_race_1']
    asian = ['2.0', '21.0' , '22.0', '23.0' , '24.0' , '25.0' , '26.0' , '27.0']
    pac = ['4.0' , '41.0' , '42.0' , '43.0' , '44.0']
    na = ['6.0' , '7.0']
    if race == '1.0':
        return '1'
    elif race in asian:
        return '2'
    elif race == '3.0':
        return '3'
    elif race in pac:
        return '4'
    elif race == '5.0':
        return '5'
    elif race in na:
        return '6'

def categorize_credit(row):
    equifax = ['1']
    experian = ['2']
    transunion = ['3', '4']
    vantage = ['5', '6']
    more_than_one = ['7']
    other_model = ['8']
    credit_na = ['9', '1111']
    credit_model = row['applicant_credit_score_type']
    if credit_model in equifax:
        return '1'
    elif credit_model in experian:
        return '2'
    elif credit_model in transunion:
        return '3'
    elif credit_model in vantage:
        return '4'
    elif credit_model in more_than_one:
        return '5'
    elif credit_model in other_model:
        return '6'
    elif credit_model in credit_na:
        return '7'

# Import Data

In [3]:
clean_df = pd.read_csv("cleaned.csv", dtype = str)
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000000 entries, 0 to 5999999
Data columns (total 71 columns):
 #   Column                                    Dtype
---  ------                                    -----
 0   activity_year                             object
 1   lei                                       object
 2   derived_msa_md                            object
 3   state_code                                object
 4   county_code                               object
 5   census_tract                              object
 6   conforming_loan_limit                     object
 7   derived_loan_product_type                 object
 8   derived_dwelling_category                 object
 9   derived_ethnicity                         object
 10  derived_race                              object
 11  derived_sex                               object
 12  action_taken                              object
 13  purchaser_type                            object
 14  preapproval                               object
 15  loan_type                                 object
 16  loan_purpose                              object
 17  lien_status                               object
 18  reverse_mortgage                          object
 19  open_end_line_of_credit                   object
 20  business_or_commercial_purpose            object
 21  loan_amount                               object
 22  combined_loan_to_value_ratio              object
 23  interest_rate                             object
 24  rate_spread                               object
 25  hoepa_status                              object
 26  total_loan_costs                          object
 27  origination_charges                       object
 28  discount_points                           object
 29  loan_term                                 object
 30  negative_amortization                     object
 31  interest_only_payment                     object
 32  balloon_payment                           object
 33  other_nonamortizing_features              object
 34  property_value                            object
 35  construction_method                       object
 36  occupancy_type                            object
 37  manufactured_home_secured_property_type   object
 38  manufactured_home_land_property_interest  object
 39  total_units                               object
 40  income                                    object
 41  debt_to_income_ratio                      object
 42  applicant_credit_score_type               object
 43  co_applicant_credit_score_type            object
 44  applicant_ethnicity_1                     object
 45  co_applicant_ethnicity_1                  object
 46  applicant_ethnicity_observed              object
 47  co_applicant_ethnicity_observed           object
 48  applicant_race_1                          object
 49  co_applicant_race_1                       object
 50  applicant_race_observed                   object
 51  co_applicant_race_observed                object
 52  applicant_sex                             object
 53  co_applicant_sex                          object
 54  applicant_sex_observed                    object
 55  co_applicant_sex_observed                 object
 56  applicant_age                             object
 57  co_applicant_age                          object
 58  applicant_age_above_62                    object
 59  co_applicant_age_above_62                 object
 60  submission_of_application                 object
 61  initially_payable_to_institution          object
 62  aus_1                                     object
 63  denial_reason_1                           object
 64  tract_population                          object
 65  tract_minority_population_percent         object
 66  ffiec_msa_md_median_family_income         object
 67  tract_to_msa_income_percentage            object
 68  tract_owner_occupied_units                object
 69  tract_one_to_four_family_homes            object
 70  tract_median_age_of_housing_units         object
dtypes: object(71)
memory usage: 3.2+ GB

# Categorize Debt-to-Income Ratio

In [4]:
dti_df = pd.DataFrame(clean_df['debt_to_income_ratio'].value_counts(dropna = False))
dti_df = dti_df.reset_index().rename(columns = {'index': 'debt_to_income_ratio', 'debt_to_income_ratio': 'count'})
dti_df = dti_df.fillna('null')
dti_df['dti_cat'] = dti_df.apply(categorize_dti_cat, axis = 1)
dti_df = dti_df.drop(columns = ['count'], axis = 1)
dti_df = dti_df.replace('null', np.nan)
clean_df = pd.merge(clean_df, dti_df, how = 'left', on = ['debt_to_income_ratio'])

Categorize Loan-to-Value Ratio

In [5]:
cltv_df = pd.DataFrame(clean_df['combined_loan_to_value_ratio'].value_counts(dropna = False))
cltv_df = cltv_df.reset_index().rename(columns = {'index': 'combined_loan_to_value_ratio', 'combined_loan_to_value_ratio': 'count'})
cltv_df.loc[(cltv_df['combined_loan_to_value_ratio'] != 'Exempt'), 'cltv_ratio'] = cltv_df['combined_loan_to_value_ratio']
cltv_df['cltv_ratio'] = pd.to_numeric(cltv_df['cltv_ratio'])
cltv_df['downpayment_flag'] = cltv_df.apply(categorize_cltv, axis = 1)
cltv_df = cltv_df.drop(columns = ['count', 'cltv_ratio'], axis = 1)
clean_df = pd.merge(clean_df, cltv_df, how = 'left', on = ['combined_loan_to_value_ratio'])

# Categorize Applicant Age

In [6]:
age_df = pd.DataFrame(clean_df['applicant_age'].value_counts(dropna = False)).reset_index().rename(columns = {'index': 'applicant_age', 'applicant_age': 'count'})
age_df['applicant_age_cat'] = age_df.apply(categorize_age, axis = 1)
age_df = age_df.drop(columns = ['count'], axis = 1)
clean_df = pd.merge(clean_df, age_df, how = 'left', on = ['applicant_age'])

# Categorize Applicant Sex

In [7]:
sex_df = pd.DataFrame(clean_df['applicant_sex'].value_counts(dropna = False)).reset_index().rename(columns = {'index': 'applicant_sex', 'applicant_sex': 'count'})
sex_df = sex_df.drop(columns = ['count'], axis = 1)
sex_df['applicant_sex_cat'] = sex_df.apply(categorize_sex, axis = 1)
clean_df = pd.merge(clean_df, sex_df, how = 'left', on = ['applicant_sex'])

# Categorize Automated Underwriting Systems

In [8]:
aus_df = pd.DataFrame(clean_df['aus_1'].value_counts(dropna = False)).reset_index().rename(columns = {'index': 'aus_1', 'aus_1': 'count'})
aus_df = aus_df.drop(columns = ['count'], axis = 1)
aus_df['aus_cat'] = aus_df.apply(categorize_aus, axis = 1)
clean_df = pd.merge(clean_df, aus_df, how = 'left', on = ['aus_1'])

# Categorize Loan Term

In [9]:
loanterm_df = pd.DataFrame(clean_df['loan_term'].value_counts(dropna = False)).reset_index().rename(columns = {'index': 'loan_term', 'loan_term': 'count'})
loanterm_df.loc[(loanterm_df['loan_term'] != 'Exempt'), 'em_loan_term'] = loanterm_df['loan_term']
loanterm_df['em_loan_term'] = pd.to_numeric(loanterm_df['em_loan_term'])
loanterm_df['mortgage_term'] = loanterm_df.apply(categorize_loan_term, axis = 1)
loanterm_df = loanterm_df.drop(columns = ['count', 'em_loan_term'])
clean_df = pd.merge(clean_df, loanterm_df, how = 'left', on = ['loan_term'])

# Categorize MSA Income Percentage

In [10]:
tractmsa_income_df = pd.DataFrame(clean_df['tract_to_msa_income_percentage'].value_counts(dropna = False)).reset_index().rename(columns = {'index': 'tract_to_msa_income_percentage', 'tract_to_msa_income_percentage': 'count'})
tractmsa_income_df['tract_msa_ratio'] = pd.to_numeric(tractmsa_income_df['tract_to_msa_income_percentage'])
tractmsa_income_df['lmi_def'] = tractmsa_income_df.apply(categorize_lmi, axis = 1)
tractmsa_income_df = tractmsa_income_df.drop(columns = ['count', 'tract_msa_ratio'], axis = 1)
clean_df = pd.merge(clean_df, tractmsa_income_df, how = 'left', on = ['tract_to_msa_income_percentage'])

# Categorize Applicant Race

In [11]:
race_df = pd.DataFrame(clean_df['applicant_race_1'].value_counts(dropna = False)).reset_index().rename(columns = {'index': 'applicant_race_1', 'applicant_race_1': 'count'})
race_df['applicant_race_cat'] = race_df.apply(categorize_race, axis = 1)
race_df = race_df.drop(columns = ['count'], axis = 1)
clean_df = pd.merge(clean_df, race_df, how = 'left', on = ['applicant_race_1'])

# Categorize Applicant Credit

In [12]:
credit_df = pd.DataFrame(clean_df['applicant_credit_score_type'].value_counts(dropna = False)).reset_index().rename(columns = {'index': 'applicant_credit_score_type', 'applicant_credit_score_type': 'count'})
credit_df['applicant_credit_cat'] = credit_df.apply(categorize_credit, axis = 1)
credit_df = credit_df.drop(columns = ['count'], axis = 1)
clean_df = pd.merge(clean_df, credit_df, how = 'left', on = ['applicant_credit_score_type'])

# Log Transformation of Income and Loan Amount

In [13]:
clean_df['income'] = pd.to_numeric(clean_df['income'])
clean_df['loan_amount'] = pd.to_numeric(clean_df['loan_amount'])
clean_df['income_log'] = np.log(clean_df['income'])
clean_df['loan_log'] = np.log(clean_df['loan_amount'])

/Users/rutuja/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/rutuja/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

# Filter

In [14]:
l = ['1', '2', '3', '4']
clean_df = clean_df[((clean_df['loan_type'] == '1')) &\
                        (clean_df['income'] > 0) &\
                        (clean_df['occupancy_type'] == '1') &\
                        (clean_df['total_units'].isin(l)) &\
                        (clean_df['loan_purpose'] == '1') &\
                        ((clean_df['action_taken'] == '1')|(clean_df['action_taken'] == '3')) &\
                        (clean_df['construction_method'] == '1') &\
                        (clean_df['lien_status'] == '1') &\
                        (clean_df['business_or_commercial_purpose'] != '1') &\
                        ((clean_df['dti_cat'] == '1')|(clean_df['dti_cat'] == '2')|(clean_df['dti_cat'] == '3')|(clean_df['dti_cat'] == '4')) &\
                        (clean_df['downpayment_flag'] != '3') &\
                        (clean_df['applicant_age_cat'] != '8') &\
                        ((clean_df['applicant_sex_cat'] == '1')|(clean_df['applicant_sex_cat'] == '2')) &\
                        ((clean_df['aus_cat'] != '5')|(clean_df['aus_cat'] != '6')) &\
                        (clean_df['mortgage_term'] != '4') &\
                        (clean_df['applicant_age_cat'] != '8') &\
                        ((clean_df['applicant_race_cat'] == '1')|(clean_df['applicant_race_cat'] == '2')|(clean_df['applicant_race_cat'] == '3')|(clean_df['applicant_race_cat'] == '4')|(clean_df['applicant_race_cat'] == '5'))].copy()

# Write to CSV

In [15]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 659889 entries, 24 to 5999974
Data columns (total 82 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   activity_year                             659889 non-null  object
 1   lei                                       659889 non-null  object
 2   derived_msa_md                            659889 non-null  object
 3   state_code                                656025 non-null  object
 4   county_code                               655570 non-null  object
 5   census_tract                              655288 non-null  object
 6   conforming_loan_limit                     659889 non-null  object
 7   derived_loan_product_type                 659889 non-null  object
 8   derived_dwelling_category                 659889 non-null  object
 9   derived_ethnicity                         659889 non-null  object
 10  derived_race                              659889 non-null  object
 11  derived_sex                               659889 non-null  object
 12  action_taken                              659889 non-null  object
 13  purchaser_type                            659889 non-null  object
 14  preapproval                               659889 non-null  object
 15  loan_type                                 659889 non-null  object
 16  loan_purpose                              659889 non-null  object
 17  lien_status                               659889 non-null  object
 18  reverse_mortgage                          659889 non-null  object
 19  open_end_line_of_credit                   659889 non-null  object
 20  business_or_commercial_purpose            659889 non-null  object
 21  loan_amount                               659889 non-null  int64
 22  combined_loan_to_value_ratio              659889 non-null  object
 23  interest_rate                             610515 non-null  object
 24  rate_spread                               603961 non-null  object
 25  hoepa_status                              659889 non-null  object
 26  total_loan_costs                          602007 non-null  object
 27  origination_charges                       605488 non-null  object
 28  discount_points                           175944 non-null  object
 29  loan_term                                 659889 non-null  object
 30  negative_amortization                     659889 non-null  object
 31  interest_only_payment                     659889 non-null  object
 32  balloon_payment                           659889 non-null  object
 33  other_nonamortizing_features              659889 non-null  object
 34  property_value                            658585 non-null  object
 35  construction_method                       659889 non-null  object
 36  occupancy_type                            659889 non-null  object
 37  manufactured_home_secured_property_type   659889 non-null  object
 38  manufactured_home_land_property_interest  659889 non-null  object
 39  total_units                               659889 non-null  object
 40  income                                    659889 non-null  float64
 41  debt_to_income_ratio                      659889 non-null  object
 42  applicant_credit_score_type               659889 non-null  object
 43  co_applicant_credit_score_type            659889 non-null  object
 44  applicant_ethnicity_1                     659809 non-null  object
 45  co_applicant_ethnicity_1                  659871 non-null  object
 46  applicant_ethnicity_observed              659889 non-null  object
 47  co_applicant_ethnicity_observed           659889 non-null  object
 48  applicant_race_1                          659889 non-null  object
 49  co_applicant_race_1                       659875 non-null  object
 50  applicant_race_observed                   659889 non-null  object
 51  co_applicant_race_observed                659889 non-null  object
 52  applicant_sex                             659889 non-null  object
 53  co_applicant_sex                          659889 non-null  object
 54  applicant_sex_observed                    659889 non-null  object
 55  co_applicant_sex_observed                 659889 non-null  object
 56  applicant_age                             659889 non-null  object
 57  co_applicant_age                          659889 non-null  object
 58  applicant_age_above_62                    659889 non-null  object
 59  co_applicant_age_above_62                 301568 non-null  object
 60  submission_of_application                 659889 non-null  object
 61  initially_payable_to_institution          659889 non-null  object
 62  aus_1                                     659889 non-null  object
 63  denial_reason_1                           659889 non-null  object
 64  tract_population                          659889 non-null  object
 65  tract_minority_population_percent         659889 non-null  object
 66  ffiec_msa_md_median_family_income         659889 non-null  object
 67  tract_to_msa_income_percentage            659889 non-null  object
 68  tract_owner_occupied_units                659889 non-null  object
 69  tract_one_to_four_family_homes            659889 non-null  object
 70  tract_median_age_of_housing_units         659889 non-null  object
 71  dti_cat                                   659889 non-null  object
 72  downpayment_flag                          659889 non-null  object
 73  applicant_age_cat                         659889 non-null  object
 74  applicant_sex_cat                         659889 non-null  object
 75  aus_cat                                   659889 non-null  object
 76  mortgage_term                             659889 non-null  object
 77  lmi_def                                   659889 non-null  object
 78  applicant_race_cat                        659889 non-null  object
 79  applicant_credit_cat                      659889 non-null  object
 80  income_log                                659889 non-null  float64
 81  loan_log                                  659889 non-null  float64
dtypes: float64(3), int64(1), object(78)
memory usage: 417.9+ MB

In [16]:
clean_df.to_csv('categorized_data.csv', index = False)