In [1]:
import pandas as pd
df1 = pd.read_csv('2020_lar.txt',sep='|', low_memory=False, nrows=6000000)

In [2]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000000 entries, 0 to 5999999
Data columns (total 99 columns):
 #   Column                                    Dtype
---  ------                                    -----
 0   activity_year                             int64
 1   lei                                       object
 2   derived_msa_md                            int64
 3   state_code                                object
 4   county_code                               float64
 5   census_tract                              float64
 6   conforming_loan_limit                     object
 7   derived_loan_product_type                 object
 8   derived_dwelling_category                 object
 9   derived_ethnicity                         object
 10  derived_race                              object
 11  derived_sex                               object
 12  action_taken                              int64
 13  purchaser_type                            int64
 14  preapproval                               int64
 15  loan_type                                 int64
 16  loan_purpose                              int64
 17  lien_status                               int64
 18  reverse_mortgage                          int64
 19  open_end_line_of_credit                   int64
 20  business_or_commercial_purpose            int64
 21  loan_amount                               int64
 22  combined_loan_to_value_ratio              object
 23  interest_rate                             object
 24  rate_spread                               object
 25  hoepa_status                              int64
 26  total_loan_costs                          object
 27  total_points_and_fees                     object
 28  origination_charges                       object
 29  discount_points                           object
 30  lender_credits                            object
 31  loan_term                                 object
 32  prepayment_penalty_term                   object
 33  intro_rate_period                         object
 34  negative_amortization                     int64
 35  interest_only_payment                     int64
 36  balloon_payment                           int64
 37  other_nonamortizing_features              int64
 38  property_value                            object
 39  construction_method                       int64
 40  occupancy_type                            int64
 41  manufactured_home_secured_property_type   int64
 42  manufactured_home_land_property_interest  int64
 43  total_units                               object
 44  multifamily_affordable_units              object
 45  income                                    float64
 46  debt_to_income_ratio                      object
 47  applicant_credit_score_type               int64
 48  co_applicant_credit_score_type            int64
 49  applicant_ethnicity_1                     float64
 50  applicant_ethnicity_2                     float64
 51  applicant_ethnicity_3                     float64
 52  applicant_ethnicity_4                     float64
 53  applicant_ethnicity_5                     float64
 54  co_applicant_ethnicity_1                  float64
 55  co_applicant_ethnicity_2                  float64
 56  co_applicant_ethnicity_3                  float64
 57  co_applicant_ethnicity_4                  float64
 58  co_applicant_ethnicity_5                  float64
 59  applicant_ethnicity_observed              int64
 60  co_applicant_ethnicity_observed           int64
 61  applicant_race_1                          float64
 62  applicant_race_2                          float64
 63  applicant_race_3                          float64
 64  applicant_race_4                          float64
 65  applicant_race_5                          float64
 66  co_applicant_race_1                       float64
 67  co_applicant_race_2                       float64
 68  co_applicant_race_3                       float64
 69  co_applicant_race_4                       float64
 70  co_applicant_race_5                       float64
 71  applicant_race_observed                   int64
 72  co_applicant_race_observed                int64
 73  applicant_sex                             int64
 74  co_applicant_sex                          int64
 75  applicant_sex_observed                    int64
 76  co_applicant_sex_observed                 int64
 77  applicant_age                             object
 78  co_applicant_age                          object
 79  applicant_age_above_62                    object
 80  co_applicant_age_above_62                 object
 81  submission_of_application                 int64
 82  initially_payable_to_institution          int64
 83  aus_1                                     int64
 84  aus_2                                     float64
 85  aus_3                                     float64
 86  aus_4                                     float64
 87  aus_5                                     float64
 88  denial_reason_1                           int64
 89  denial_reason_2                           float64
 90  denial_reason_3                           float64
 91  denial_reason_4                           float64
 92  tract_population                          int64
 93  tract_minority_population_percent         float64
 94  ffiec_msa_md_median_family_income         int64
 95  tract_to_msa_income_percentage            float64
 96  tract_owner_occupied_units                int64
 97  tract_one_to_four_family_homes            int64
 98  tract_median_age_of_housing_units         int64
dtypes: float64(32), int64(40), object(27)
memory usage: 4.4+ GB

In [3]:
df1.head(5)

,activity_year,lei,derived_msa_md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason_2,denial_reason_3,denial_reason_4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2020,549300EOHSB7M6IFW844,19660,FL,12127.0,1.212709e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,4882,42.20,65000,94.0,1167,1982,30
1,2020,549300EOHSB7M6IFW844,23540,FL,12001.0,1.200100e+10,C,FSA/RHS:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,7024,20.15,65600,117.0,2237,3102,26
2,2020,549300EOHSB7M6IFW844,29460,FL,12105.0,1.210501e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,...,NaN,NaN,NaN,1381,6.08,58800,104.0,364,586,20
3,2020,549300EOHSB7M6IFW844,45300,FL,12053.0,1.205304e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,2417,0.62,69200,94.0,1274,1681,25
4,2020,549300EOHSB7M6IFW844,99999,FL,12125.0,1.212596e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,4011,17.60,52600,92.0,1164,1853,26

In [15]:
print(df1.lei.unique())

['549300EOHSB7M6IFW844' '549300OMHGOGEWTCI138' '254900I3LJYL57NZ5H21' ...
 '5493001XKL0FTNOJ0866' '549300PNAL4XWOQBBP76' 'JJKC32MCHWDI71265Z06']

In [14]:
df1.head(150).to_csv("test.csv")

# Remove Some Columns

In [4]:
remove = ['total_points_and_fees', 'lender_credits', "prepayment_penalty_term", "intro_rate_period", 
               "multifamily_affordable_units", 
               'applicant_ethnicity_2','applicant_ethnicity_3', 'applicant_ethnicity_4', 'applicant_ethnicity_5', 
               'co_applicant_ethnicity_2', 'co_applicant_ethnicity_3', 'co_applicant_ethnicity_4', 
               'co_applicant_ethnicity_5', 'applicant_race_2','applicant_race_3', 'applicant_race_4', 
               'applicant_race_5', 
               'co_applicant_race_2', 'co_applicant_race_3', 'co_applicant_race_4', 
               'co_applicant_race_5', 'aus_2', 'aus_3', 'aus_4', 'aus_5','denial_reason_2','denial_reason_3'
              ,'denial_reason_4']

new_headers = []
for column in df1.columns:
    if column not in remove:
        new_headers.append(column)
        
print(len(new_headers))

71

In [5]:
df2 = df1[new_headers].copy()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000000 entries, 0 to 5999999
Data columns (total 71 columns):
 #   Column                                    Dtype
---  ------                                    -----
 0   activity_year                             int64
 1   lei                                       object
 2   derived_msa_md                            int64
 3   state_code                                object
 4   county_code                               float64
 5   census_tract                              float64
 6   conforming_loan_limit                     object
 7   derived_loan_product_type                 object
 8   derived_dwelling_category                 object
 9   derived_ethnicity                         object
 10  derived_race                              object
 11  derived_sex                               object
 12  action_taken                              int64
 13  purchaser_type                            int64
 14  preapproval                               int64
 15  loan_type                                 int64
 16  loan_purpose                              int64
 17  lien_status                               int64
 18  reverse_mortgage                          int64
 19  open_end_line_of_credit                   int64
 20  business_or_commercial_purpose            int64
 21  loan_amount                               int64
 22  combined_loan_to_value_ratio              object
 23  interest_rate                             object
 24  rate_spread                               object
 25  hoepa_status                              int64
 26  total_loan_costs                          object
 27  origination_charges                       object
 28  discount_points                           object
 29  loan_term                                 object
 30  negative_amortization                     int64
 31  interest_only_payment                     int64
 32  balloon_payment                           int64
 33  other_nonamortizing_features              int64
 34  property_value                            object
 35  construction_method                       int64
 36  occupancy_type                            int64
 37  manufactured_home_secured_property_type   int64
 38  manufactured_home_land_property_interest  int64
 39  total_units                               object
 40  income                                    float64
 41  debt_to_income_ratio                      object
 42  applicant_credit_score_type               int64
 43  co_applicant_credit_score_type            int64
 44  applicant_ethnicity_1                     float64
 45  co_applicant_ethnicity_1                  float64
 46  applicant_ethnicity_observed              int64
 47  co_applicant_ethnicity_observed           int64
 48  applicant_race_1                          float64
 49  co_applicant_race_1                       float64
 50  applicant_race_observed                   int64
 51  co_applicant_race_observed                int64
 52  applicant_sex                             int64
 53  co_applicant_sex                          int64
 54  applicant_sex_observed                    int64
 55  co_applicant_sex_observed                 int64
 56  applicant_age                             object
 57  co_applicant_age                          object
 58  applicant_age_above_62                    object
 59  co_applicant_age_above_62                 object
 60  submission_of_application                 int64
 61  initially_payable_to_institution          int64
 62  aus_1                                     int64
 63  denial_reason_1                           int64
 64  tract_population                          int64
 65  tract_minority_population_percent         float64
 66  ffiec_msa_md_median_family_income         int64
 67  tract_to_msa_income_percentage            float64
 68  tract_owner_occupied_units                int64
 69  tract_one_to_four_family_homes            int64
 70  tract_median_age_of_housing_units         int64
dtypes: float64(9), int64(40), object(22)
memory usage: 3.2+ GB

In [6]:
df2.to_csv('cleaned.csv', index = False)